# --- SYSTEM & ENVS ---
**/.git/
**/.gitignore
**/.dockerignore
**/.ipynb_checkpoints/
**/__pycache__/
**/*.pyc
credit_env/
.env

# --- MLFLOW & CACHE ---
**/mlruns/
**/mlartifacts/
**/mlflow_db/
**/mlflow.db
**/catboost_info/

# --- NOTEBOOKS & TESTS ---
**/notebooks/
**/src/eda/
**/tests/
test.tar.gz

# --- DATA ---
**/data/raw/
**/data/interim/
**/data/processed/master_ingested_v0.3.0.parquet
**/data/processed/ml_ready_matrix.parquet
**/data/processed/final_modeling_table.parquet

