# ==========================================================================
# INFRASTRUCTURE & DATABASE LAYER
# ==========================================================================
# Connected to Neon cloud database for the intelliloan project
DATABASE_URL=neon_url_provided

# ==========================================================================
# MLOPS LIFECYCLE MANAGEMENT (MLFLOW)
# ==========================================================================
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_BACKEND_STORE_URI=sqlite:///mlflow.db
MLFLOW_ARTIFACT_ROOT=/mlruns

# ==========================================================================
# SECURE APPLICATION GATEWAY (FASTAPI & Key)
# ==========================================================================
# Default Host and Port for Development (Cloud Run will override the PORT)
API_HOST=0.0.0.0
API_PORT=8080

# API Key
API_KEY_SECRET=put the privatekey

# ==========================================================================
# COGNITIVE CORES & AGENTIC RAG LAYER (GROQ, GEMINI & LANGSMITH)
# ==========================================================================
# 1. Reasoning & Synthesis Engine (Groq Cloud API)
GROQ_API_KEY=groq key for llama
LLM_MODEL=llama-3.1-8b-instant
LLM_AS_JUDGE=llama-3.3-70b-versatile

# 2. Vectorization Engine (Google AI Studio API for ChromaDB)
GEMINI_API_KEY=gemini key

# 3. Real-Time Observability and Traceability
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=langchain key for observability
LANGCHAIN_PROJECT=IntelliLoan_Project
LANGSMITH_API_URL= langchain web site

# ==========================================================================
# METRICS & INFRASTRUCTURE MONITORING
# ==========================================================================
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# ==========================================================================
# SYSTEM RUNTIME ENVIRONMENT
# ==========================================================================
ENVIRONMENT=local
LOG_LEVEL=INFO