# --- Python & Environments ---
credit_env/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
test.tar.gz
*.tar.gz

# --- Secrets & Config ---
.env
config/secrets.yaml

# --- Data (Very Important: avoid pushing large parquets) ---
data/raw/
data/interim/
!data/processed/feature_metadata.json
!/data/processed/final_enriched_modeling_matrix.parquet
data/processed/*.parquet
untitled-1.md


# --- Models & Artifacts ---
models/*
mlartifacts/
mlruns/
mlflow_db/
mlflow.db
catboost_info/
!models/fitted_preprocessor.joblib
!models/unsupervised_artifacts.joblib.


# --- Monitoring & Vector Store ---
data/sql/
logs/

# --- IDE ---
.vscode/
.idea/