# --- Python & Envs ---
credit_env/
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/
test.tar.gz
catboost_info/

# --- Secrets ---
.env

# --- Data & Models (Managed by DVC) ---
data/raw/
data/interim/
data/processed/*.parquet
models/*.joblib

# We let DVC handle these exceptions using its own local .gitignore files

# --- Exceptions (Small, Essential Configuration Files) ---
!data/processed/feature_metadata.json
!config/raw_schema.json
!config/processed_schema.json

# --- MLflow & Logs ---
mlruns/
mlartifacts/
mlflow_db/
mlflow.db
logs/